<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Home") %>
<div class= "center jumbotron">
  <h1>Business Agile Toolbox</h1>
  </br>
  <h5>The goal of this toolbox is to provide the materials required to engage, setup, execute & sustain Agile Transformation.</h5>
</br>
</br>
</div>

<style>
  h4{
color:#1164fc;
font-weight:bold;

   }
p{
  color:#707070;
  font-style:italic;
}
  </style>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "static_pages/core">
            <div class="grid-image-container">
              <%= image_tag("HomePage/whatIsBa.png", :id=> "placeholder", :class=>"grid-image",  :align=>"center") %>
            </br>
              <h4>Overview</h4></a>
              </br>
              </br>
              <p>Start here to understand what is Business Agile, see examples of it in action and discover how to get involved.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "static_pages/setUp">
            <div class= "grid-image-container">
              <%= image_tag("HomePage/setUp.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
            </br>
              <h4>Set-Up & Execution</h4></a>
            </br>
            </br>
            <p>Get in on the action with detailed plans on how to set up & run engagements such as simulations & workshops to support Business Agile change.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href="static_pages/sustain">
            <div class="grid-image-container">
                <%= image_tag("HomePage/agileInAction.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
            </br>
            <h4>Sustain</h4></a>
          </br>
          </br>
        <p>Learn what is available to help you & your organization continue on the Business Agile change journey beyond training & workshops – think community, think short videos, think measures.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
        <a href= "static_pages/hacks">
          <div class="grid-image-container">
            <%= image_tag("HomePage/hacks.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
          </br>
            <h4>Agile Hacks</h4> </a>
          </br>
          </br>
          <p>Collection of learnings from past & present practitioners of Business Agile.</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href="/experiments", target = "_blank">
            <div class="grid-image-container">
                <%= image_tag("HomePage/exper.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
              </br>
          <h4>Experiment Guide</h4></a>
        </br>
        </br>
        <p>Discover test & learn techniques that have been proven to work as shared by your J&J colleagues.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href= "/plays">
            <dic class="grid-image-container">
              <%= image_tag("HomePage/plays.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
            </br>
            <h4>Playbook</h4></a>
          </br>
          </br>
          <p>Discover a library of how-to guides on Business Agile topics from A to Z. Forgot what a How Might We is? Need a reminder on how to run a Stand—Up meeting? Forming a new team and need a grounding on KANBAN basics? This is the place.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
