<!DOCTYPE html>
<html>
  <head>

    <title><%= yield(:title) %> | Business Agile Tookit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'HomePage/rv.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>



  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class = "menu">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "The Way of J&J Agile", '/static_pages/core' %> </li>
            <li><%= link_to "Get Ready, Get Set, Execute!", '/static_pages/setUp' %> </li>
            <li><%= link_to "Keep Going", '/static_pages/sustain' %> </li>
            <li><%= link_to "Start Experimenting", '/experiments' %> </li>
            <li><%= link_to "How to...?", '/plays' %> </li>
            <li><%= link_to "Feedback Form", 'https://forms.office.com/Pages/ResponsePage.aspx?id=M0vJOjWRIUiVAur9plkqNbal7Ib87DBLvqaeabnrlMxURUJRRFQxVllQM045TTZCVU5PVjEzVzhMRC4u', target: "_blank" %> </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
  <small>
    We are collecting feedback on this site, please submit this<strong><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=M0vJOjWRIUiVAur9plkqNbal7Ib87DBLvqaeabnrlMxURUJRRFQxVllQM045TTZCVU5PVjEzVzhMRC4u" target = "_blank"> retrospective on your experience</a></strong>
  </small>

</footer>
  </body>
</html>
